mixin review(review)
    .review__header
        .review__author
            img.avatar(src=review.author.gravatar)
            p= review.author.name
        .review__stars(title=`Rated ${review.rating} out of 5 stars`)
            = `★`.repeat(review.rating)
            = `☆`.repeat(5 - review.rating)
        //datetime is for accessibility
        time.review__time(datetime=review.created)
            // using moment.js library added to headers in a helper
            = h.moment(review.created).fromNow()
    .review__body
        p= review.text